<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/bojio.jpg">
    <title>Document</title>
    <script>
      function goToSignUp() {
        window.location.assign("/signup");
      }

      function goToGroup(ID){
        console.log(ID);
        window.location.assign(`/groups/${ID}`)
      }
      function goToListing(ID){
        console.log(ID);
        window.location.assign(`/listings/${ID}`)
      }
      function goToGroupEdit(ID){
        console.log(ID);
        window.location.assign(`/groups/${ID}/edit`)
      }
      function goToListingEdit(ID){
        console.log(ID);
        window.location.assign(`/listings/${ID}/edit`)
      }
      function goToJoinGroup(ID){
        console.log(ID)
        window.location.assign(`/groups/${ID}/join`)
      }

    </script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand"  href="#"> <img src="/bojio.jpg" width="50" height="50" />BOJIO!</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/userPage">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/groups">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/listings">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/logout">LogOut</a>
            </li>

            <!--Below are the drop down and disabled and search bar buttons to be used in the future-->
            <li class="nav-item dropdown ">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                hidden="true"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                <li><a class="dropdown-item" href="#">Listings</a></li>
                <li><a class="dropdown-item" href="#">Groups</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Create Listings</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
              hidden="true"
                >Disabled</a
              >
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              hidden="true"
            />
            <button class="btn btn-outline-success" type="submit" hidden="true">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>