<%- include('./header'); -%>

    <!-- This is the sign up form -->
    <form action="/signup" method="POST">
      <div class="container">
        <div class="col-md-6 mx-auto text-center">
          <div class="header-title">
            <h1 class="wv-heading--title">Welcome to BOJIO's Sign up page!</h1>
            <h2 class="wv-heading--subtitle">
              Please provide the information below to create your account
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div class="myform form">
              <form action="" method="post" name="login">
                <div class="form-group">
                  <input
                    type="text"
                    name="name"
                    class="form-control my-input"
                    id="name"
                    placeholder="Name"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    name="email"
                    class="form-control my-input"
                    id="email"
                    placeholder="Email"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="number"
                    min="0"
                    name="phone"
                    id="phone"
                    class="form-control my-input"
                    placeholder="Phone Number"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="number"
                    min="0"
                    name="password"
                    id="password"
                    class="form-control my-input"
                    placeholder="Password"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="textarea"
                    name="introduction"
                    id="introduction"
                    class="form-control my-input"
                    placeholder="Introduction"
                    
                  />
                </div>
                <div class="text-center">
                  <button
                    type="submit"
                    class="btn btn-block send-button tx-tfm btn-dark"
                  >
                    Create Account
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>

<%- include('./footer'); -%>
